:root{
    --background-color:#3c6e71;
    --primary-color:#284b63;
    --secondary-color:#d9d9d9;
    --text-color:#303030;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Bruno Ace SC', cursive;
}

#txt{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    padding-bottom: 10%;
    border-bottom: 5px solid var(--primary-color);
}
#level{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}
#val {
    font-size: 1.2rem;
    height: 3rem;
    width: 90%;
    margin-left: 5%;
    border:none;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}
button {
    background-color: var(--secondary-color);
    border:5px solid var(--primary-color);
    font-size: 1.5rem;
    width: 90%;
    height:4rem;
    border-radius: 1.5rem;
    text-align: center;
    color:var(--text-color);
    margin: 10% 5%;
    transition: all 0.1s ease-out;
    padding: 0.5rem;
}
button:active{
    background-color: var(--primary-color);
    color:var(--secondary-color);
}
#tip{
    font-size: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}